@page
@using ContosoCrafts.WebSite.Components
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<center>
    <h1><br /><br />About Our Site:</h1>
    <br />
    <p>
        &nbsp;&nbsp;&nbsp;&nbsp;Being able to change your car’s oil or put the finishing touch on a hand-built dining room table
        can result in a sense of pride and accomplishment. While completing the job yourself is possible,
        buying tools for a specific job that will only be used once can be costly and often wasteful. Redhawks Rent-A-Tool website 
        empowers community members to complete home projects and build new skills by offering a wide variety of tools in a financially
        feasible as well as environmentally friendly manner.
        <br /><br />
    </p>
    <p style="text-align: right;"><b><i>-The Scrum Bums</i></b> </p>
</center>