@page
@using ContosoCrafts.WebSite.Components
@model ToolPageModel
@{
    ViewData["Title"] = "ToolsPage";
}
<div><center><h4>@Model.FormResult</h4></center></div>
@(await Html.RenderComponentAsync<ProductList>(RenderMode.ServerPrerendered))


<script src="_framework/blazor.server.js"></script>