.checked {
  color: orange;
}

.fa-star {
  cursor: pointer;
}

/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */
.card-columns .card:hover .card-img {
    opacity: 1;
    -webkit-transform-style: preserve-3d;
}

.card-columns .card-body {
    height: 130px;
    font-family: 'Nunito', sans-serif;
    background: #fbfafd;
}

.card-columns .card-img {
  height: 330px;
  vertical-align: bottom;
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: contain; /* Resize the background image to cover the entire container */
  opacity: .8;
}

.modal .card-img {
  height: 500px;
  vertical-align: bottom;
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: contain; /* Resize the background image to cover the entire container */
}

.card-body .card-text {
    color: black;
}

.card-columns .card:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(37,33,82,.12), 0 4px 8px rgba(37,33,82,.06);
}
.card-footer {
    background: #fbfafd;
}

.form-group {
    color: white;
}

a.navbar-brand {
    white-space: normal;
    font-family: 'Antonio', cursive;
    font-size: xx-large;
    text-align: center;
    word-break: break-all;
}

/* Provide sufficient contrast against white background */


.btn-primary {
    color: #fff;
    background-color: #252152;
    border-color: #252152;
}
.btn-primary:hover {
    color: #fff;
    background-color: #e9a8a6;
    border-color: #e9a8a6;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}
p {
    text-align:justify;
    color:white;
}
h1 {
    color:white;
}
tr {
    color:white;
}
a {
    color:white;
    
}
#navId:hover {
    color: white;
    font-weight: bold;
    font-size:x-large;
}
.link:hover{
    color:white;
    font-weight:bold;
    font-size:x-large;
}

section {
    display: inline-block;
    color:white;
}
h4{
    color:white;
}

th {
    text-align:center;
}
tbody {
    font-size: 20px;
}



/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
 
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

body {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.7)), url("https://static8.depositphotos.com/1064024/1068/i/600/depositphotos_10681426-stock-photo-set-of-different-tools.jpg");
    background-repeat: repeat;
    background-size: auto;    
}

p {
    font-family: 'Nunito', sans-serif;
    font-size: 20px;
}
h1 {
    font-family: 'Nunito', sans-serif;
}
ul {
    font-family: 'Nunito', sans-serif;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
    font-family: 'Nunito', sans-serif;
}
/*Backgrounds*/
#bg{
    position:fixed;
    top:0;
    left:0;

    min-height:100%;
    min-width:100%;
}
.bg-navbar {
    background: -webkit-linear-gradient(110deg, #aa0000 60%, #000000 60%);
    background: -o-linear-gradient(110deg, #aa0000 60%, #000000 60%);
    background: -moz-linear-gradient(110deg, #aa0000 60%, #000000 60%);
    background: linear-gradient(110deg, #aa0000 60%, #000000 60%);
}
.bg-footer {
    background: -webkit-linear-gradient(110deg, #aa0000 60%, #000000 60%);
    background: -o-linear-gradient(110deg, #aa0000 60%, #000000 60%);
    background: -moz-linear-gradient(110deg, #aa0000 60%, #000000 60%);
    background: linear-gradient(110deg, #aa0000 60%, #000000 60%);
}

.navbar-light .navbar-brand {
    color: #ffffff;
}

.navbar-light .navbar-nav .nav-link {
    color: #ffffff;
}

.footerText {
    color: #ffffff;
}

/*form color setting*/

.form-label {
    color: white;
}

/*about us page CSS style*/
.profile-text{
    display:inline-block;
    float:left;
    color:white;
}

.profile-pic {
    width: 20em;
    display: inline-block;
}

.standard-button{
    color:white;
    background-color:darkred;
    border-color:darkred;
}

#CategoryBox {
    width: 17%;
    display: inline-block;
    margin-right: 5px;
    margin-bottom: 5px;
    border-color: darkred;
}

#FilterInput, #FilterButton, #ClearButton {
    display: inline-block;
    margin-right: 5px;
    margin-bottom: 5px;
    background-color:darkred;
    border-color:darkred;
}

#FilterInput {
    width: 65%;
    height: 2.4em;
    background-color: white;
}

#NotReturnButton, #NotRentButton {
    background-color: darkred;
}